#div_ref{
    position: relative;
    width: 100%;;
    /*left: calc((100% - 90%)/2);*/
    /*border: 1px solid red;*/
    border-radius: 0px 0px 6px 6px;
    float:left;
}
#div_ref_aux{
    position: relative;
    width: 98%;
    /* border: 1px solid red; */
    border-radius: 0px 0px 6px 6px;
    float: left;
    left: calc((100% - 98%) /2);
}
#ifr_ref,
#ifr_ref_aux{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
}